<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyProject.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DB1325E35DC759F1A3B6836F779A836317AA999D</string>
				<key>dateExpires</key>
				<string>2024/10/17</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB1325E35DC759F1A3B6836F779A836317AA999D</string>
						<key>dateExpires</key>
						<string>2024/10/17</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UnityFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9779X6D99J</string>
						<key>name</key>
						<string>Lingchun Li</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9779X6D99J.com.famoustech.HoloInsight</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9779X6D99J</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MyProject.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a195856e-997a-45ad-b333-bffaa3c92b5e</string>
				<key>dateExpires</key>
				<string>2024/10/17</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.famoustech.HoloInsight</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9779X6D99J</string>
				<key>name</key>
				<string>Lingchun Li</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1</string>
		</dict>
	</array>
</dict>
</plist>
